/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 */

 /* do not change the order */
/*@import 'variables';
@import 'mixins';*/
@import 'twitter/bootstrap';

/* compass setup */
$icons-sprite-dimensions: true;
$icons-layout:smart;
.icons-sprite { /* general css rules for all icons */
  display: inline-block;
  vertical-align: middle;
}

/*@import "icons/*.png";*/
/*@include all-icons-sprites;*/

/* scss for the other pages should be beneath */

/* shared */
/*@import  'spree/shared/all'*/
